<div class="main-wrapper main-wrapper-1">
    <app-navbar></app-navbar>   
    <app-sidebar></app-sidebar>
     <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Demo Page</h1>
          </div>
          <div class="section-body">
              <!-- <router-outlet></router-outlet> apply routing here for the path childrens  -->


<!-- just for demo , use router outlet instead -->

<div class="row">
    <div class="col">
      


        <div class="col">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <div class="empty-state" data-height="400" style="height: 400px;">
                    <div class="empty-state-icon">
                      <i class="fas fa-question"></i>
                    </div>
                    <h2>Info</h2>
                    <p>you will get more UI components from the official stisla website,<span class="text-dark">you need to add some modules (provided in the official demo) whenever you need (select2,chart ...)</span></p>
                    <div class="row">
                        <div class="col">
                            <a class="badge badge-pill badge-primary" href="https://docs.getstisla.com/#/en/2.2.0/overview">Documentation </a>

                        </div>
                        <div class="col">
                            <a class="badge badge-pill badge-primary" href="https://demo.getstisla.com/index.html">Dashboard Demo </a>

                        </div>
                    </div>
      
                  </div>
                </div>
              </div>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="empty-state " data-height="400" style="height: 400px;">
                <div class="empty-state-icon bg-warning">
                    <i class="fas fa-exclamation"></i>
                </div>
                <h2>Important</h2>
                <p class="lead">
                 the Demo Module , is just used to demonstrate how impliment a feature module in this Angular project,
                 the link below illustrate the inspired best practices used in this project 
                </p>
                <a href="https://medium.com/dev-jam/5-tips-best-practices-to-organize-your-angular-project-e900db08702e" class="badge badge-pill badge-primary">check this link</a>
                
              </div>
            </div>
          </div>
    </div>
</div>

<!-- end demo -->

          </div>
        </section>
      </div>
      <app-footer></app-footer>
 </div>